[submodule "EECBS"]
	path = EECBS
	url = https://github.com/tc-imba/EECBS.git
[submodule "GeometricTools"]
	path = GeometricTools
	url = https://github.com/davideberly/GeometricTools.git
[submodule "Continuous-CBS"]
	path = Continuous-CBS
	url = https://github.com/PathPlanning/Continuous-CBS.git
[submodule "time-independent-planning"]
	path = time-independent-planning
	url = https://github.com/tc-imba/time-independent-planning.git
